<h1>Welcome</h1>
<p>Welcome to our Web App</p>


<div class="card bg-warning">
	<%= image_tag('kitten.jpg') %>
	<div class="card-image-overlay">
		<div class="card-header">
			<h2 class="card-title">Welcome to the Show</h2>
		</div>
		<div class="card-body">
			<div class="card-text">
				<p>Here is the body of the card text</p>
			</div>
		</div>
	</div>
</div>
